<div class="modal fade bd-product-manager-modal-lg" tabindex="-1" role="dialog" aria-labelledby="product-manager" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productManager">Thêm sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal m-t-20" id="insertProduct">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <input type="text" hidden class="form-control form-control-lg product-id" placeholder="Tên sản phẩm" aria-label="ProductName" aria-describedby="basic-addon1" required="">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-user">Tên sản phẩm</i></span>
                            </div>
                            <input type="text" class="form-control form-control-lg product-name" placeholder="Tên sản phẩm" aria-label="ProductName" aria-describedby="basic-addon1" required="">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-user">Mã sản phẩm</i></span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg product-code" placeholder="Mã sản phẩm" aria-label="ProductCode" aria-describedby="basic-addon1" required="">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-user">Đơn vị tính</i></span>
                                    </div>
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-light dropdown-toggle btn-unit" data-toggle="dropdown">
                                            Đơn vị tính
                                        </button>
                                        <div class="dropdown-menu height-dropdown list-unit">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-user">Số lượng</i></span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg product-quanlity" placeholder="Số lượng" aria-label="ProductQuanlity" aria-describedby="basic-addon1" required="">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-user">Đơn giá</i></span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg product-cost" placeholder="Đơn giá" aria-label="ProductCost" aria-describedby="basic-addon1" required="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-user">Tình trạng</i></span>
                                    </div>
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-light dropdown-toggle btn-status-product" data-toggle="dropdown">
                                            Tình trạng
                                        </button>
                                        <div class="dropdown-menu list-status-product">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-user">Khối lượng</i></span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg product-mass" placeholder="Khối lượng" aria-label="ProductMass" aria-describedby="basic-addon1" required="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-user">Danh mục sản phẩm</i></span>
                                    </div>
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-light dropdown-toggle btn-category" data-toggle="dropdown">
                                            Danh mục sản phẩm
                                        </button>
                                        <div class="dropdown-menu list-category height-dropdown">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-user">Loại sản phẩm</i></span>
                                    </div>
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-light dropdown-toggle btn-product-type" data-toggle="dropdown">
                                            Loại sản phẩm
                                        </button>
                                        <div class="dropdown-menu height-dropdown list-product-type">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-user">Nhà cung cấp</i></span>
                                    </div>
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-light dropdown-toggle btn-provider" data-toggle="dropdown">
                                            Nhà cung cấp
                                        </button>
                                        <div class="dropdown-menu height-dropdown list-provider">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-user">Khuyến mãi</i></span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg product-sale" placeholder="Khuyến mãi" aria-label="ProductSale" aria-describedby="basic-addon1" required="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-user">Mô tả ngắn</i></span>
                            </div>
                            <input type="text" class="form-control form-control-lg product-shortDescription" placeholder="Mô tả ngắn" aria-label="ProductName" aria-describedby="basic-addon1" required="">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-user">Mô tả đầy đủ</i></span>
                            </div>
                            <textarea type="text" class="form-control form-control-lg product-fullDescription" placeholder="Mô đầy đủ" aria-label="ProductName" aria-describedby="basic-addon1" required=""></textarea>
                        </div>
                    </div>
                </div>
                <div class="row border-top border-secondary">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="p-t-20">
                                <button class="btn btn-info" id="to-recover" data-dismiss="modal" type="button"><i class="fa fa-lock m-r-5"></i>Hủy bỏ</button>
                                <button class="btn btn-success float-right btn-insert-product" hidden>Thêm</button>
                                <button class="btn btn-success float-right btn-update-product" hidden>Sửa</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>