<div class="modal fade bd-upload-image-modal-lg" tabindex="-1" role="dialog" aria-labelledby="product-manager" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productManager">Thêm sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <h2>Upload hình ảnh sản phẩm</h2>
                    <form>
                        <div class="form-group">
                            <label hidden class="product-id-file"></label>
                            <label>Bạn có thể chọn nhiều ảnh</label>
                            <input type="file" class="form-control" id="fileInput" multiple>
                        </div>
                    </form>
                </div>
                <div class="row border-top border-secondary">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="p-t-20">
                                <button class="btn btn-info" id="to-recover" data-dismiss="modal" type="button"><i class="fa fa-lock m-r-5"></i>Hủy bỏ</button>
                                <button class="btn btn-success float-right btn-upload-img-product">Thêm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>