
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/css/provider.css" rel="stylesheet" />
}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb pt-0">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Danh sách sản phẩm</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".bd-product-manager-modal-lg">Thêm</button>
                        <button type="button" class="btn btn-primary btn-sm">Xóa toàn bộ</button>
                        <button type="button" class="btn btn-primary btn-sm">Thêm từ file Excel</button>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid pt-0">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="card-body pt-0 pb-1 pr-0">
            <div class="col-lg-12 pt-1 float-right">
                <div class="row float-right">
                    <input type="text" class="form-control search-product float-right text-search mr-2" placeholder="Nhập tên hoặc mã nhà cung cấp">
                    <button type="button" class="mr-3 btn btn-info btn-sm pt-0 pb-0 btn-search-product">Tìm kiếm</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="zero_config" class="table table-striped table-bordered product">
                            <thead>
                                <tr>
                                    <th>Mã sản phẩm</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Tình trạng</th>
                                    <th>Đơn Giá</th>
                                    <th>Số lượng</th>
                                    <th>Đơn vị tính</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div>
                        <div class="p-l-0 float-left">
                            <span class="float-left pr-1">Trang</span> <input type="text" class="float-left form-control page-number-product text-pagin" value="1" placeholder="1">  <span class="pl-1">trên</span> <span class="total-pages pr-1"></span>
                        </div>
                        <div class="p-l-1 float-left">
                            <input type="text" class="form-control page-size-product text-pagin" value="10" placeholder="col-md-1">
                        </div>
                        <div class="p-l-0 float-left">
                            <button type="button" class="ml-2 mr-3 btn btn-info btn-sm pt-0 pb-0 btn-get-data-product">Lấy dữ liệu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
@Html.Partial("_ProductPartial");
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer text-center">
    Website bán nông sản. Thiết kế và phát triển bởi <a href="https://wrappixel.com">Nguyễn Thế Quyền</a>.
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
@section Scripts{
    <script src="~/js/Product.js"></script>
}