
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        </div>
    </div>
</div>
<!-- product start here -->
<div class="product">
    <div class="container">
        <div class="row">
            <div class="commontop text-center">
                <h4>Sản phẩm mới nhất</h4>
            </div>
            <div class="list-product">
            </div>
        </div>
    </div>
</div>
<!-- product end here -->
<!-- bestdeal start here -->
<div class="container">
    <div class="row">
        <div class="text-center">
            <h4>Ưu đãi lớn nhất ngày hôm nay</h4>
        </div>
    </div>
</div>
<!-- bestdeal end here -->
<!-- mixveg start here -->
<div class="mixveg">
    <div class="container">
        <div class="row product-discount">
        </div>
    </div>
</div>
<!-- mixveg end here -->
<!-- featured product start here -->
<div class="featured">
    <div class="container">
        <div class="row">
            <div class="commontop text-center">
                <h4>Sản phẩm nổi bật</h4>
            </div>
            <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="shop.html">
                                    <img src="~/images/header3/9.png" alt="image" title="image" class="img-responsive" />
                                </a>
                                <div class="onhover1">
                                    <div class="button-group">
                                        <button class="btn-icon" type="button"><i class="icon_piechart"></i></button>
                                        <button class="icons" type="button"><i class="icon_cart_alt"></i></button>
                                        <button class="btn-icon" type="button"><i class="icon_heart_alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="caption text-center">
                                <h4><a href="shop.html">Praesent sagittis nisi massa</a></h4>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <p class="price"><span>$15.00</span> $10.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="shop.html">
                                    <img src="~/images/header3/9.png" alt="image" title="image" class="img-responsive" />
                                </a>
                                <div class="onhover1">
                                    <div class="button-group">
                                        <button class="btn-icon" type="button"><i class="icon_piechart"></i></button>
                                        <button class="icons" type="button"><i class="icon_cart_alt"></i></button>
                                        <button class="btn-icon" type="button"><i class="icon_heart_alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="caption text-center">
                                <h4><a href="shop.html">Praesent sagittis nisi massa</a></h4>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <p class="price"><span>$15.00</span> $10.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="shop.html">
                                    <img src="~/images/header3/9.png" alt="image" title="image" class="img-responsive" />
                                </a>
                                <div class="onhover1">
                                    <div class="button-group">
                                        <button class="btn-icon" type="button"><i class="icon_piechart"></i></button>
                                        <button class="icons" type="button"><i class="icon_cart_alt"></i></button>
                                        <button class="btn-icon" type="button"><i class="icon_heart_alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="caption text-center">
                                <h4><a href="shop.html">Praesent sagittis nisi massa</a></h4>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <p class="price"><span>$15.00</span> $10.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="shop.html">
                                    <img src="~/images/header3/10.png" alt="image" title="image" class="img-responsive" />
                                </a>
                                <div class="onhover1">
                                    <div class="button-group">
                                        <button class="btn-icon" type="button"><i class="icon_piechart"></i></button>
                                        <button class="icons" type="button"><i class="icon_cart_alt"></i></button>
                                        <button class="btn-icon" type="button"><i class="icon_heart_alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="caption text-center">
                                <h4><a href="shop.html">Praesent sagittis nisi massa</a></h4>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <p class="price"><span>$15.00</span> $10.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="shop.html">
                                    <img src="~/images/header3/11.png" alt="image" title="image" class="img-responsive" />
                                </a>
                                <div class="onhover1">
                                    <div class="button-group">
                                        <button class="btn-icon" type="button"><i class="icon_piechart"></i></button>
                                        <button class="icons" type="button"><i class="icon_cart_alt"></i></button>
                                        <button class="btn-icon" type="button"><i class="icon_heart_alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="caption text-center">
                                <h4><a href="shop.html">Praesent sagittis nisi massa</a></h4>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <p class="price"><span>$15.00</span> $10.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- featured product end here -->
<!-- blog start here -->
<div class="blog">
    <div class="container">
        <div class="row">
            <div class="commontop text-center">
                <h4>Tin tức nông sản</h4>
            </div>
            <div class="list-blogs">
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                    <div class="box">
                        <img class="img-responsive" src="~/images/header3/blog1.png" alt="image" title="image">
                        <div class="caption">
                            <div class="common">
                                <ul class="list-inline pull-left">
                                    <li>24<br> FEB</li>
                                    <li><i class="fa fa-comments-o"></i></li>
                                    <li><i class="icon_heart_alt"></i></li>
                                </ul>
                                <h6 class="pull-right"><i class="icon_profile"></i>Post by : <span>john doe</span></h6>
                            </div>
                            <h4>Fusce vulputate elementum</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur finibus erat semper sapien laoreet, mattis cursus lacus imperdiet.</p>
                            <div class="text-right">
                                <a href="blog-detail.html">Read More >></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                    <div class="box">
                        <img class="img-responsive" src="~/images/header3/blog2.png" alt="image" title="image">
                        <div class="caption">
                            <div class="common">
                                <ul class="list-inline pull-left">
                                    <li>24<br> FEB</li>
                                    <li><i class="fa fa-comments-o"></i></li>
                                    <li><i class="icon_heart_alt"></i></li>
                                </ul>
                                <h6 class="pull-right"><i class="icon_profile"></i>Post by : <span>john doe</span></h6>
                            </div>
                            <h4>Fusce vulputate elementum</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur finibus erat semper sapien laoreet, mattis cursus lacus imperdiet.</p>
                            <div class="text-right">
                                <a href="blog-detail.html">Read More >></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                    <div class="box">
                        <img class="img-responsive" src="~/images/header3/blog3.png" alt="image" title="image">
                        <div class="caption">
                            <div class="common">
                                <ul class="list-inline pull-left">
                                    <li>24<br> FEB</li>
                                    <li><i class="fa fa-comments-o"></i></li>
                                    <li><i class="icon_heart_alt"></i></li>
                                </ul>
                                <h6 class="pull-right"><i class="icon_profile"></i>Post by : <span>john doe</span></h6>
                            </div>
                            <h4>Fusce vulputate elementum</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur finibus erat semper sapien laoreet, mattis cursus lacus imperdiet.</p>
                            <div class="text-right">
                                <a href="blog-detail.html">Read More >></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jquery -->
<script src="~/js/dist/jquery.min.js"></script>