<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        </div>
    </div>
</div>
<!-- product start here -->
<div class="product">
    <div class="container">
        <div class="row">
            <div class="commontop text-center">
                <h4>Sản phẩm mới nhất</h4>
            </div>
            <div class="list-product">
            </div>
        </div>
    </div>
</div>
<!-- product end here -->
<!-- bestdeal start here -->
<div class="container">
    <div class="row">
        <div class="text-center">
            <h4>Sản phẩm nổi bật</h4>
        </div>
    </div>
</div>
<!-- bestdeal end here -->
<!-- mixveg start here -->
<div class="mixveg">
    <div class="container">
        <div class="row product-discount">
        </div>
    </div>
</div>
<script src="~/js/dist/jquery.min.js"></script>