<!DOCTYPE html>
<html>
<head>
    <!-- Mirrored from ocsolutions.co.in/html/organic_food/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 03 Mar 2019 08:15:37 GMT -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Organic Food and Fruit Html Template</title>
    <!-- Bootstrap stylesheet -->
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- crousel css -->
    <link href="~/js/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
    <!--bootstrap select-->
    <link href="~/js/dist/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700,800,900%7CPT+Serif:400,700" rel="stylesheet">
    <!-- font-awesome -->
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/ele-style.css" rel="stylesheet" type="text/css" />
    <!-- stylesheet -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", required: false)
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">*@
    <style>
        .imge-rerize {
            height: 260px;
            width: 254px;
        }
    </style>
</head>
<body class="header3">
    <!--top start here -->
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                    <ul class="list-inline pull-left icon icons">
                        <li>
                            <a href="contactus.html">Chào mừng bạn đến với Agricultural Products</a>
                        </li>
                        <li class="dropdown currency">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon_cog"></i> Cài đặt</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a href="#"><i class="icon_globe-2"></i> Ngôn ngữ</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">English</a>
                                        </li>
                                        <li>
                                            <a href="#">Tiếng việt</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="list-inline pull-right icons">
                        <li class="dropdown login">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon_profile"></i> Tài khoản <span class="username"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#"><i class="icon_profile"></i>Thông tin tài khoản</a>
                                </li>
                                <li>
                                    <a asp-action="Order" asp-controller="ManagerOrder"><i class="icon_archive"></i>Quản lý đơn hàng</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon_heart"></i>Sản phẩm yêu thích</a>
                                </li>
                                <li class="des text-center">Nếu bạn chưa có tài khoản?</li>
                                <li class="text-center">
                                    <a asp-action="Register" id="register" asp-controller="AccountViews">Đăng ký ngay</a>
                                </li>
                                <li class="li-login">
                                    <a class="btn" asp-action="Login" asp-controller="AccountViews">Đăng nhập</a>
                                </li>
                                <li class="li-logout" hidden>
                                    <a class="btn logout">Đăng xuất</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown cart">
                            <a class="dropdown-toggle btn-carts btn" data-toggle="dropdown"><i class="icon_cart"></i> Giỏ hàng </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <table class="table details-carts">
                                        <tbody></tbody>
                                    </table>
                                    <div class="buttons">
                                        <a class="btn-primary btn-views-carts" asp-action="DetailsCarts" asp-controller="Carts" type="button"><i class="icon_cart"></i> Giỏ hàng</a>
                                        <button class="btn-primary btn-checkout" type="button"><i class="icon_box-checked"></i> Kiểm tra</button>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="list-inline social">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="social_facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="social_twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://in.pinterest.com/" target="_blank">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://plus.google.com/" target="_blank">
                                        <i class="social_googleplus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.tumblr.com/" target="_blank">
                                        <i class="fa fa-tumblr"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="social_instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--top end here -->
    <!-- header start here-->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                    <div id="logo">
                        <a asp-action="Index" asp-controller="Home">
                            <img class="img-responsive" src="~/images/header3/logo.png" alt="logo" title="logo" />
                        </a>
                    </div>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-7 col-xs-12">
                    <!-- menu start here -->
                    <div id="menu">
                        <nav class="navbar">
                            <div class="navbar-header">
                                <span class="menutext visible-xs">Menu</span>
                                <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="btn btn-navbar navbar-toggle" type="button"><i class="fa fa-bars"></i></button>
                            </div>
                            <div class="collapse navbar-collapse navbar-ex1-collapse padd0">
                                <ul class="nav navbar-nav pull-right">
                                    <li class="dropdown topheader">
                                        <a asp-action="Index" asp-controller="Home" class="dropdown-toggle">Trang chủ</a>
                                    </li>
                                    <li class="dropdown topheading btn-get-categories">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Danh mục</a>
                                        <div class="dropdown-menu">
                                            <div class="dropdown-inner">
                                                <ul class="list-unstyled list-category">
                                                    <li>
                                                        <a href="shop.html">Shop</a>
                                                    </li>
                                                    <li>
                                                        <a href="shopdetail.html">Shop Detail</a>
                                                    </li>
                                                    <li>
                                                        <a href="shoppingcart.html">Shopping cart</a>
                                                    </li>
                                                    <li>
                                                        <a href="checkout.html">Checkout</a>
                                                    </li>
                                                    <li>
                                                        <a href="confirmation.html">Confirmation</a>
                                                    </li>
                                                    <li>
                                                        <a href="login_register.html">Login & Register</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a asp-action="Index" asp-controller="Market">Thị trường</a>
                                    </li>
                                    <li class="dropdown topheading">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tin tức</a>
                                        <div class="dropdown-menu">
                                            <div class="dropdown-inner">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <a href="shop.html">Shop</a>
                                                    </li>
                                                    <li>
                                                        <a href="shopdetail.html">Shop Detail</a>
                                                    </li>
                                                    <li>
                                                        <a href="shoppingcart.html">Shopping cart</a>
                                                    </li>
                                                    <li>
                                                        <a href="checkout.html">Checkout</a>
                                                    </li>
                                                    <li>
                                                        <a href="confirmation.html">Confirmation</a>
                                                    </li>
                                                    <li>
                                                        <a href="login_register.html">Login & Register</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="gallery.html">Giới thiệu</a>
                                    </li>
                                    <li class="dropdown topheading">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Liên hệ</a>
                                        <div class="dropdown-menu">
                                            <div class="dropdown-inner">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <a href="blog.html">Blog</a>
                                                    </li>
                                                    <li>
                                                        <a href="blog-detail.html">Blog Detail</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- menu end here -->
                </div>
                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                    <div id="srch" class="input-group">
                        <input type="text" name="search" value="" placeholder="Tìm kiếm" class="form-control input-lg txt-text-search" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-lg btn-search"><i class="icon_search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end here -->
    <!-- slider start here -->
    <div class="slide">
        <div class="slideshow1 owl-carousel">
            <div class="item">
                <img src="~/images/header3/slider.png" alt="banner" title="banner" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/images/header3/slider.png" alt="banner" title="banner" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/images/header3/slider.png" alt="banner" title="banner" class="img-responsive" />
            </div>
        </div>
    </div>
    <!-- slider end here -->
    <!-- about start here -->
    <!-- about end here -->

    @RenderBody()
    <!-- footer start here -->
    <footer>
        <div class="powered">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
                        <p>© Copyright 2017, <span>Organic foods & fruits.</span>  All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end here -->
    <!-- jquery -->
    <script src="~/js/dist/jquery.min.js"></script>
    <script src="~/js/jquery.2.1.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <!--bootstrap select-->
    <script src="~/js/dist/js/bootstrap-select.js"></script>
    <!--internal js-->
    <script src="~/js/internal.js"></script>
    <!-- owlcarousel js -->
    <script src="~/js/owl-carousel/owl.carousel.min.js"></script>
    @*<script src="~/js/dist/jquery.min.js"></script>*@
    <script src="~/js/views/Common.js"></script>
    <script src="~/js/views/Carts.js"></script>
    <script src="~/js/views/Account.js"></script>
    @*<script src="~/js/views/Product.js"></script>*@
    <!-- blog end here -->
    <script src="~/js/views/Product.js"></script>
    <script src="~/js/views/Blogs.js"></script>
    <script src="~/js/views/Categories.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LcByJcUAAAAAPYDK4Ai_E4cCZIYifpUUEXcxaOO"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LcByJcUAAAAAPYDK4Ai_E4cCZIYifpUUEXcxaOO', { action: 'homepage' }).then(function (token) {
                var data = {
                    token: token
                }
                $(renderAPI.postAPI(DOMAIN + "api/HomeApi/secure-website", true, 'post', JSON.stringify(data),
                    function (result) {
                        if (result.data === "error") {
                            window.location.href = DOMAIN + "Home/Securety";
                        }
                    }, function (xhr, status) {
                        console.log(xhr);
                    }));
            });
        });
    </script>
    @RenderSection("Scripts", required: false);
</body>
<body>
</body>
</html>
