.text-pagin {
    width: 50px;
    text-align: center;
    padding: 0px;
}

.text-search {
    width: 230px;
    right: 0px;
}

.height-dropdown {
    max-height: 300px;
    overflow-y: auto;
}
.img-responsive{
    height:50px;
    width:50px;
}