
@{
    ViewData["Title"] = "DetailsCarts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mycart">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form method="post" enctype="multipart/form-data">
                    <div class="table-responsive">
                        <table class="table listproducts">
                            <thead>
                                <tr>
                                    <td class="text-left">Sản phẩm</td>
                                    <td class="text-center">Giá bán</td>
                                    <td class="text-center">Số lượng</td>
                                    <td class="text-center">Tổng tiền</td>
                                    <td class="text-center">Xóa</td>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="col-sm-12">
                <div class="buttons">
                    <a class="btn-primary">Xóa toàn bộ giỏ hàng</a>
                    <a class="btn-primary" asp-action="Index" asp-controller="Home">Tiếp tục mua hàng</a>
                    <a class="btn-primary pull-right">Thanh toán</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/views/DetailsCarts.js"></script>
}