    <!-- product start here -->
<div class="product">
    <div class="container">
        <div class="row">
            <div class="commontop text-center">
                <h4>Sản phẩm mới nhất</h4>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                <div class="product-thumb">
                    <div class="image">
                        <a href="shop.html">
                            <img src="images/header3/1.png" alt="image" title="image" class="img-responsive" />
                        </a>
                        <div class="onhover1">
                            <div class="button-group">
                                <button class="btn-icon" type="button"><i class="icon_piechart"></i></button>
                                <button class="icons" type="button"><i class="icon_cart_alt"></i></button>
                                <button class="btn-icon" type="button"><i class="icon_heart_alt"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="caption text-center">
                        <h4><a href="shop.html">Praesent sagittis nisi massa</a></h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p class="price"><span>$15.00</span> $10.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                <div class="product-thumb">
                    <div class="image">
                        <a href="shop.html">
                            <img src="images/header3/2.png" alt="image" title="image" class="img-responsive" />
                        </a>
                        <div class="onhover1">
                            <div class="button-group">
                                <button class="btn-icon" type="button"><i class="icon_piechart"></i></button>
                                <button class="icons" type="button"><i class="icon_cart_alt"></i></button>
                                <button class="btn-icon" type="button"><i class="icon_heart_alt"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="caption text-center">
                        <h4><a href="shop.html">Praesent sagittis nisi massa</a></h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p class="price"><span>$15.00</span> $10.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                <div class="product-thumb">
                    <div class="image">
                        <a href="shop.html">
                            <img src="images/header3/3.png" alt="image" title="image" class="img-responsive" />
                        </a>
                        <div class="onhover1">
                            <div class="button-group">
                                <button class="btn-icon" type="button"><i class="icon_piechart"></i></button>
                                <button class="icons" type="button"><i class="icon_cart_alt"></i></button>
                                <button class="btn-icon" type="button"><i class="icon_heart_alt"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="caption text-center">
                        <h4><a href="shop.html">Praesent sagittis nisi massa</a></h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p class="price"><span>$15.00</span> $10.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                <div class="product-thumb">
                    <div class="image">
                        <a href="shop.html">
                            <img src="images/header3/4.png" alt="image" title="image" class="img-responsive" />
                        </a>
                        <div class="onhover1">
                            <div class="button-group">
                                <button class="btn-icon" type="button"><i class="icon_piechart"></i></button>
                                <button class="icons" type="button"><i class="icon_cart_alt"></i></button>
                                <button class="btn-icon" type="button"><i class="icon_heart_alt"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="caption text-center">
                        <h4><a href="shop.html">Praesent sagittis nisi massa</a></h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p class="price"><span>$15.00</span> $10.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                <div class="product-thumb">
                    <div class="image">
                        <a href="shop.html">
                            <img src="images/header3/5.png" alt="image" title="image" class="img-responsive" />
                        </a>
                        <div class="onhover1">
                            <div class="button-group">
                                <button class="btn-icon" type="button"><i class="icon_piechart"></i></button>
                                <button class="icons" type="button"><i class="icon_cart_alt"></i></button>
                                <button class="btn-icon" type="button"><i class="icon_heart_alt"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="caption text-center">
                        <h4><a href="shop.html">Praesent sagittis nisi massa</a></h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p class="price"><span>$15.00</span> $10.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                <div class="product-thumb">
                    <div class="image">
                        <a href="shop.html">
                            <img src="images/header3/6.png" alt="image" title="image" class="img-responsive" />
                        </a>
                        <div class="onhover1">
                            <div class="button-group">
                                <button class="btn-icon" type="button"><i class="icon_piechart"></i></button>
                                <button class="icons" type="button"><i class="icon_cart_alt"></i></button>
                                <button class="btn-icon" type="button"><i class="icon_heart_alt"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="caption text-center">
                        <h4><a href="shop.html">Praesent sagittis nisi massa</a></h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p class="price"><span>$15.00</span> $10.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                <div class="product-thumb">
                    <div class="image">
                        <a href="shop.html">
                            <img src="images/header3/7.png" alt="image" title="image" class="img-responsive" />
                        </a>
                        <div class="onhover1">
                            <div class="button-group">
                                <button class="btn-icon" type="button"><i class="icon_piechart"></i></button>
                                <button class="icons" type="button"><i class="icon_cart_alt"></i></button>
                                <button class="btn-icon" type="button"><i class="icon_heart_alt"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="caption text-center">
                        <h4><a href="shop.html">Praesent sagittis nisi massa</a></h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p class="price"><span>$15.00</span> $10.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                <div class="product-thumb">
                    <div class="image">
                        <a href="shop.html">
                            <img src="images/header3/8.png" alt="image" title="image" class="img-responsive" />
                        </a>
                        <div class="onhover1">
                            <div class="button-group">
                                <button class="btn-icon" type="button"><i class="icon_piechart"></i></button>
                                <button class="icons" type="button"><i class="icon_cart_alt"></i></button>
                                <button class="btn-icon" type="button"><i class="icon_heart_alt"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="caption text-center">
                        <h4><a href="shop.html">Praesent sagittis nisi massa</a></h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p class="price"><span>$15.00</span> $10.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product end here -->
<!-- banner start here -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                <img src="images/header3/shipping-1.png" class="img-responsive" alt="dis" title="dis" />
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                <img src="images/header3/shipping-2.png" class="img-responsive" alt="dis" title="dis" />
            </div>
        </div>
    </div>
</div>
<!-- banner end here -->
<!-- bestdeal start here -->
<div class="container">
    <div class="row">
        <div class="commontop text-center">
            <h4>Today best deals</h4>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 bestdeal">
                <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
                    <img src="images/header3/best-deal.png" alt="image" title="image" class="img-responsive" />
                </div>
                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12">
                    <div class="box">
                        <h3>Donec feugiat sem nec ipsum fermentum sodales.</h3>
                        <p>Nulla vitae tortor nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sodales scelerisque semper, Vestibulum placerat urna felis, vulputate venenatis felis.</p>
                        <ul class="list-inline">
                            <li>
                                <div class="bg">15</div>Days
                            </li>
                            <li>
                                <div class="bg">08</div>Hours
                            </li>
                            <li>
                                <div class="bg">44</div>Minutes
                            </li>
                            <li>
                                <div class="bg">11</div>Seconds
                            </li>
                        </ul>
                        <hr>
                        <button type="button">Shop now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bestdeal end here -->
<!-- mixveg start here -->
<div class="mixveg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="product-thumb1">
                    <div class="image">
                        <a href="shop.html"><img src="images/header3/deal1.png" alt="image" title="image" class="img-responsive" /></a>
                    </div>
                    <div class="caption">
                        <h4>Vegetable Mix</h4>
                        <p>Price : <span>$15.00</span></p>
                        <div class="button-group">
                            <button type="button"><i class="icon_cart_alt"></i></button>
                            <button type="button"><i class="icon_heart_alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="product-thumb1">
                    <div class="image">
                        <a href="shop.html"><img src="images/header3/deal2.png" alt="image" title="image" class="img-responsive" /></a>
                    </div>
                    <div class="caption">
                        <h4>Vegetable Mix</h4>
                        <p>Price : <span>$15.00</span></p>
                        <div class="button-group">
                            <button type="button"><i class="icon_cart_alt"></i></button>
                            <button type="button"><i class="icon_heart_alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="product-thumb1">
                    <div class="image">
                        <a href="shop.html"><img src="images/header3/deal3.png" alt="image" title="image" class="img-responsive" /></a>
                    </div>
                    <div class="caption">
                        <h4>Vegetable Mix</h4>
                        <p>Price : <span>$15.00</span></p>
                        <div class="button-group">
                            <button type="button"><i class="icon_cart_alt"></i></button>
                            <button type="button"><i class="icon_heart_alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="product-thumb1">
                    <div class="image">
                        <a href="shop.html"><img src="images/header3/deal4.png" alt="image" title="image" class="img-responsive" /></a>
                    </div>
                    <div class="caption">
                        <h4>Vegetable Mix</h4>
                        <p>Price : <span>$15.00</span></p>
                        <div class="button-group">
                            <button type="button"><i class="icon_cart_alt"></i></button>
                            <button type="button"><i class="icon_heart_alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="product-thumb1">
                    <div class="image">
                        <a href="shop.html"><img src="images/header3/deal5.png" alt="image" title="image" class="img-responsive" /></a>
                    </div>
                    <div class="caption">
                        <h4>Vegetable Mix</h4>
                        <p>Price : <span>$15.00</span></p>
                        <div class="button-group">
                            <button type="button"><i class="icon_cart_alt"></i></button>
                            <button type="button"><i class="icon_heart_alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="product-thumb1">
                    <div class="image">
                        <a href="shop.html"><img src="images/header3/deal6.png" alt="image" title="image" class="img-responsive" /></a>
                    </div>
                    <div class="caption">
                        <h4>Vegetable Mix</h4>
                        <p>Price : <span>$15.00</span></p>
                        <div class="button-group">
                            <button type="button"><i class="icon_cart_alt"></i></button>
                            <button type="button"><i class="icon_heart_alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="product-thumb1">
                    <div class="image">
                        <a href="shop.html"><img src="images/header3/deal7.png" alt="image" title="image" class="img-responsive" /></a>
                    </div>
                    <div class="caption">
                        <h4>Vegetable Mix</h4>
                        <p>Price : <span>$15.00</span></p>
                        <div class="button-group">
                            <button type="button"><i class="icon_cart_alt"></i></button>
                            <button type="button"><i class="icon_heart_alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="product-thumb1">
                    <div class="image">
                        <a href="shop.html"><img src="images/header3/deal8.png" alt="image" title="image" class="img-responsive" /></a>
                    </div>
                    <div class="caption">
                        <h4>Vegetable Mix</h4>
                        <p>Price : <span>$15.00</span></p>
                        <div class="button-group">
                            <button type="button"><i class="icon_cart_alt"></i></button>
                            <button type="button"><i class="icon_heart_alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- mixveg end here -->
<!-- featured product start here -->
<div class="featured">
    <div class="container">
        <div class="row">
            <div class="commontop text-center">
                <h4>Featured Products</h4>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                <img src="images/header3/fresh1.png" class="img-responsive featuredbanner" alt="banner" title="banner" />
            </div>
            <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="shop.html">
                                    <img src="images/header3/9.png" alt="image" title="image" class="img-responsive" />
                                </a>
                                <div class="onhover1">
                                    <div class="button-group">
                                        <button class="btn-icon" type="button"><i class="icon_piechart"></i></button>
                                        <button class="icons" type="button"><i class="icon_cart_alt"></i></button>
                                        <button class="btn-icon" type="button"><i class="icon_heart_alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="caption text-center">
                                <h4><a href="shop.html">Praesent sagittis nisi massa</a></h4>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <p class="price"><span>$15.00</span> $10.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="shop.html">
                                    <img src="images/header3/10.png" alt="image" title="image" class="img-responsive" />
                                </a>
                                <div class="onhover1">
                                    <div class="button-group">
                                        <button class="btn-icon" type="button"><i class="icon_piechart"></i></button>
                                        <button class="icons" type="button"><i class="icon_cart_alt"></i></button>
                                        <button class="btn-icon" type="button"><i class="icon_heart_alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="caption text-center">
                                <h4><a href="shop.html">Praesent sagittis nisi massa</a></h4>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <p class="price"><span>$15.00</span> $10.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="shop.html">
                                    <img src="images/header3/11.png" alt="image" title="image" class="img-responsive" />
                                </a>
                                <div class="onhover1">
                                    <div class="button-group">
                                        <button class="btn-icon" type="button"><i class="icon_piechart"></i></button>
                                        <button class="icons" type="button"><i class="icon_cart_alt"></i></button>
                                        <button class="btn-icon" type="button"><i class="icon_heart_alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="caption text-center">
                                <h4><a href="shop.html">Praesent sagittis nisi massa</a></h4>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <p class="price"><span>$15.00</span> $10.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="product-thumb1">
                            <div class="image">
                                <a href="shop.html">
                                    <img src="images/header3/deal9.png" alt="image" title="image" class="img-responsive" />
                                </a>
                            </div>
                            <div class="caption">
                                <h4>Vegetable Mix</h4>
                                <p>Price : <span>$15.00</span></p>
                                <div class="button-group">
                                    <button type="button"><i class="icon_cart_alt"></i></button>
                                    <button type="button"><i class="icon_heart_alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="product-thumb1">
                            <div class="image">
                                <a href="shop.html">
                                    <img src="images/header3/deal10.png" alt="image" title="image" class="img-responsive" />
                                </a>
                            </div>
                            <div class="caption">
                                <h4>Vegetable Mix</h4>
                                <p>Price : <span>$15.00</span></p>
                                <div class="button-group">
                                    <button type="button"><i class="icon_cart_alt"></i></button>
                                    <button type="button"><i class="icon_heart_alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="product-thumb1">
                            <div class="image">
                                <a href="shop.html">
                                    <img src="images/header3/deal11.png" alt="image" title="image" class="img-responsive" />
                                </a>
                            </div>
                            <div class="caption">
                                <h4>Vegetable Mix</h4>
                                <p>Price : <span>$15.00</span></p>
                                <div class="button-group">
                                    <button type="button"><i class="icon_cart_alt"></i></button>
                                    <button type="button"><i class="icon_heart_alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="shop.html">
                                    <img src="images/header3/12.png" alt="image" title="image" class="img-responsive" />
                                </a>
                                <div class="onhover1">
                                    <div class="button-group">
                                        <button class="btn-icon" type="button"><i class="icon_piechart"></i></button>
                                        <button class="icons" type="button"><i class="icon_cart_alt"></i></button>
                                        <button class="btn-icon" type="button"><i class="icon_heart_alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="caption text-center">
                                <h4><a href="shop.html">Praesent sagittis nisi massa</a></h4>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <p class="price"><span>$15.00</span> $10.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="shop.html">
                                    <img src="images/header3/13.png" alt="image" title="image" class="img-responsive" />
                                </a>
                                <div class="onhover1">
                                    <div class="button-group">
                                        <button class="btn-icon" type="button"><i class="icon_piechart"></i></button>
                                        <button class="icons" type="button"><i class="icon_cart_alt"></i></button>
                                        <button class="btn-icon" type="button"><i class="icon_heart_alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="caption text-center">
                                <h4><a href="shop.html">Praesent sagittis nisi massa</a></h4>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <p class="price"><span>$15.00</span> $10.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="shop.html">
                                    <img src="images/header3/14.png" alt="image" title="image" class="img-responsive" />
                                </a>
                                <div class="onhover1">
                                    <div class="button-group">
                                        <button class="btn-icon" type="button"><i class="icon_piechart"></i></button>
                                        <button class="icons" type="button"><i class="icon_cart_alt"></i></button>
                                        <button class="btn-icon" type="button"><i class="icon_heart_alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="caption text-center">
                                <h4><a href="shop.html">Praesent sagittis nisi massa</a></h4>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <p class="price"><span>$15.00</span> $10.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="product-thumb1">
                            <div class="image">
                                <a href="shop.html">
                                    <img src="images/header3/deal12.png" alt="image" title="image" class="img-responsive" />
                                </a>
                            </div>
                            <div class="caption">
                                <h4>Vegetable Mix</h4>
                                <p>Price : <span>$15.00</span></p>
                                <div class="button-group">
                                    <button type="button"><i class="icon_cart_alt"></i></button>
                                    <button type="button"><i class="icon_heart_alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="product-thumb1">
                            <div class="image">
                                <a href="shop.html">
                                    <img src="images/header3/deal13.png" alt="image" title="image" class="img-responsive" />
                                </a>
                            </div>
                            <div class="caption">
                                <h4>Vegetable Mix</h4>
                                <p>Price : <span>$15.00</span></p>
                                <div class="button-group">
                                    <button type="button"><i class="icon_cart_alt"></i></button>
                                    <button type="button"><i class="icon_heart_alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="product-thumb1">
                            <div class="image">
                                <a href="shop.html">
                                    <img src="images/header3/deal3.png" alt="image" title="image" class="img-responsive" />
                                </a>
                            </div>
                            <div class="caption">
                                <h4>Vegetable Mix</h4>
                                <p>Price : <span>$15.00</span></p>
                                <div class="button-group">
                                    <button type="button"><i class="icon_cart_alt"></i></button>
                                    <button type="button"><i class="icon_heart_alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                <img src="images/header3/fresh2.png" class="img-responsive featuredbanner" alt="banner" title="banner" />
            </div>
        </div>
    </div>
</div>
<!-- featured product end here -->
<!-- blog start here -->
<div class="blog">
    <div class="container">
        <div class="row">
            <div class="commontop text-center">
                <h4>Our Blog</h4>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                <div class="box">
                    <img class="img-responsive" src="images/header3/blog1.png" alt="image" title="image">
                    <div class="caption">
                        <div class="common">
                            <ul class="list-inline pull-left">
                                <li>24<br> FEB</li>
                                <li><i class="fa fa-comments-o"></i></li>
                                <li><i class="icon_heart_alt"></i></li>
                            </ul>
                            <h6 class="pull-right"><i class="icon_profile"></i>Post by : <span>john doe</span></h6>
                        </div>
                        <h4>Fusce vulputate elementum</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur finibus erat semper sapien laoreet, mattis cursus lacus imperdiet.</p>
                        <div class="text-right">
                            <a href="blog-detail.html">Read More >></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                <div class="box">
                    <img class="img-responsive" src="images/header3/blog2.png" alt="image" title="image">
                    <div class="caption">
                        <div class="common">
                            <ul class="list-inline pull-left">
                                <li>24<br> FEB</li>
                                <li><i class="fa fa-comments-o"></i></li>
                                <li><i class="icon_heart_alt"></i></li>
                            </ul>
                            <h6 class="pull-right"><i class="icon_profile"></i>Post by : <span>john doe</span></h6>
                        </div>
                        <h4>Fusce vulputate elementum</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur finibus erat semper sapien laoreet, mattis cursus lacus imperdiet.</p>
                        <div class="text-right">
                            <a href="blog-detail.html">Read More >></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                <div class="box">
                    <img class="img-responsive" src="images/header3/blog3.png" alt="image" title="image">
                    <div class="caption">
                        <div class="common">
                            <ul class="list-inline pull-left">
                                <li>24<br> FEB</li>
                                <li><i class="fa fa-comments-o"></i></li>
                                <li><i class="icon_heart_alt"></i></li>
                            </ul>
                            <h6 class="pull-right"><i class="icon_profile"></i>Post by : <span>john doe</span></h6>
                        </div>
                        <h4>Fusce vulputate elementum</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur finibus erat semper sapien laoreet, mattis cursus lacus imperdiet.</p>
                        <div class="text-right">
                            <a href="blog-detail.html">Read More >></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog end here -->