
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shopdetail">
    <div class="container details-products">
    </div>
</div>
@section Scripts{
    <script src="~/js/views/DetailsProduct.js"></script>
}