
@{
    ViewData["Title"] = "SearchProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="product">
    <div class="container">
        <div class="row">
            <div class="commontop text-center">
                <h4>Kết quả tìm kiếm</h4>
            </div>
            <div class="list-product">
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/views/SearchProductByName.js"></script>
}